{% extends 'csinf/base.html' %}

{% block title %}
    {{ user.username }}'s profile
{% endblock %}
{% block content %}
    <h2 align="center">{{ user.username }}'s profile</h2>
    <div align="center">
        <div>
            <a href={% url 'profile_skins' %}>List skins</a>
        </div>
        <div>
            <a href={% url 'profile_table' %}>Table skins</a>
        </div>
        <div>
            <a href={% url 'notices' %}>Notices</a>
        </div>
        <div>
            <a href="{% url 'change_pass' %}">Change password</a>
        </div>
        <div>
            <a href="{% url 'delete_user' %}">Delete user</a>
        </div>
    </div>
{% endblock %}