{% extends 'csinf/base.html' %}
{% block title %}
    {{ user.username }}'s notices
{% endblock %}

{% block content %}
    <div align="center">
        {% for notice in notices %}
            <img src="{{ notice.skin_name.get_image_url }}" width="80px">
            <h3 style="margin-bottom: 2px"><a href="{% url 'skin_detail' pk=notice.skin_name.id %}">{{ notice.skin_name }}</a> {{ notice.date_update }}</h3>
            <p style="margin-top: 2px">Buy on {{ notice.get_buy_from|title }} ({{ notice.buy_price }} &#165;) to sell on
                {{ notice.get_sell_to|title }} ({{ notice.sell_price}} &#165;):
            {% if notice.count_skins %}
                Count skins: {{ notice.count_skins }}
            {% else %}
                Unknown num_skins
            {% endif %}
            </p>
        {% endfor %}
    </div>
{% endblock %}